.root {
    -fx-font-size: 10pt;
    -fx-font-family: "Futura";
    -fx-base: honeydew;
    -fx-background: darkslateblue;
}

.GameofLife-0 {
    -fx-fill: aliceblue;
}

.GameofLife-1 {
    -fx-fill: darkblue;
}
