.root {
    -fx-font-size: 10pt;
    -fx-font-family: "Futura";
    -fx-base: #00cc66;
    -fx-background: #0d0d0d;
}

.GameofLife-0 {
    -fx-fill: slategrey;
}

.GameofLife-1 {
    -fx-fill: mediumseagreen;
}

.Percolation-0 {
    -fx-fill: #262626;
}

.Percolation-1 {
    -fx-fill: #bfbfbf;
}

.Percolation-2 {
    -fx-fill: #000099;
}

.Segregation-0 {
    -fx-fill: #262626;
}

.Segregation-1 {
    -fx-fill: #600080;
}

.Segregation-2 {
    -fx-fill: #00995c;
}

.Fire-0 {
    -fx-fill: #006600;
}

.Fire-1 {
    -fx-fill: #990000;
}

.Fire-2 {
    -fx-fill: #b3b3b3;
}

.WaTor-0 {
    -fx-fill: #000099;
}

.WaTor-1 {
    -fx-fill: #ff4d4d;
}

.WaTor-2 {
    -fx-fill: slategrey;
}

.RockPaperScissors-0 {
    -fx-fill: #808080;
}

.RockPaperScissors-1 {
    -fx-fill: #f2f2f2;
}

.RockPaperScissors-2 {
    -fx-fill: #ff0066;
}

.ForagingAnts-0 {
    -fx-fill: #f2f2f2;
}

.ForagingAnts-1 {
    -fx-fill: #33cc33;
}

.ForagingAnts-2 {
    -fx-fill: #ffff66;
}

.ForagingAnts-3 {
    -fx-fill: #ff0000;
}

.title {
    -fx-fill: #f2f2f2;
}

.button {
    -fx-border-radius: 20;
    -fx-background-radius: 15;
    -fx-padding: 8;
    -fx-text-fill: black;
}