.root {
  -fx-font-size: 10pt;
  -fx-font-family: "Futura";
  -fx-base: honeydew;
  -fx-background: darkslateblue;
}

.GameofLife-0 {
  -fx-fill: aliceblue;
}

.GameofLife-1 {
  -fx-fill: mediumseagreen;
}

.Percolation-0 {
  -fx-fill: black;
}

.Percolation-1 {
  -fx-fill: aliceblue;
}

.Percolation-2 {
  -fx-fill: darkturquoise;
}

.Segregation-0 {
  -fx-fill: aliceblue;
}

.Segregation-1 {
  -fx-fill: deeppink;
}

.Segregation-2 {
  -fx-fill: dodgerblue;
}

.Fire-0 {
  -fx-fill: limegreen;
}

.Fire-1 {
  -fx-fill: firebrick;
}

.Fire-2 {
  -fx-fill: aliceblue;
}

.WaTor-0 {
  -fx-fill: blue;
}

.WaTor-1 {
  -fx-fill: darkorange;
}

.WaTor-2 {
  -fx-fill: silver;
}

.title {
  -fx-fill: aliceblue;
}

.button {
  -fx-border-radius: 20;
  -fx-background-radius: 15;
  -fx-padding: 8;
}

.rect {
  -fx-stroke: black;
}