.root {
  -fx-font-size: 10pt;
  -fx-font-family: "Futura";
  -fx-base: #a6a6a6;
  -fx-background: #d9d9d9;
}

.GameofLife-0 {
  -fx-fill: #f2f2f2;
}

.GameofLife-1 {
  -fx-fill: #1a1a1a;
}

.Percolation-0 {
  -fx-fill: #1a1a1a;
}

.Percolation-1 {
  -fx-fill: #f2f2f2;
}

.Percolation-2 {
  -fx-fill: #0000ff;
}

.Segregation-0 {
  -fx-fill: #f2f2f2;
}

.Segregation-1 {
  -fx-fill: #00cc00;
}

.Segregation-2 {
  -fx-fill: #ff0066;
}

.Fire-0 {
  -fx-fill: #00cc00;
}

.Fire-1 {
  -fx-fill: #ff0000;
}

.Fire-2 {
  -fx-fill: #f2f2f2;
}

.WaTor-0 {
  -fx-fill: #0000ff;
}

.WaTor-1 {
  -fx-fill: #ff5050;
}

.WaTor-2 {
  -fx-fill: #808080;
}

.RockPaperScissors-0 {
  -fx-fill: #808080;
}

.RockPaperScissors-1 {
  -fx-fill: #f2f2f2;
}

.RockPaperScissors-2 {
  -fx-fill: #ff0066;
}

.ForagingAnts-0 {
  -fx-fill: #f2f2f2;
}

.ForagingAnts-1 {
  -fx-fill: #33cc33;
}

.ForagingAnts-2 {
  -fx-fill: #ffff66;
}

.ForagingAnts-3 {
  -fx-fill: #ff0000;
}

.BylsLoop-0 {
  -fx-fill: #f2f2f2;
}

.BylsLoop-1 {
  -fx-fill: #ffff66;
}

.BylsLoop-2 {
  -fx-fill: #000000;
}

.BylsLoop-3 {
  -fx-fill: #ff0000;
}

.BylsLoop-4 {
  -fx-fill: #33cc33;
}

.BylsLoop-5 {
  -fx-fill: #0000ff;
}

.SugarScape-0 {
  -fx-fill: #000000;
}

.SugarScape-1 {
  -fx-fill: #ff0000;
}

.title {
  -fx-fill: #000000;
}

.button {
  -fx-border-radius: 20;
  -fx-background-radius: 15;
  -fx-padding: 8;
}