.root {
    -fx-font-size: 10pt;
    -fx-font-family: "Futura";
    -fx-base: #ffffff;
    -fx-background: #d9d9d9;
}

.title {
    -fx-fill: #000000;
}

.chart-pie-label-line {
    -fx-stroke: #8b4513;
    -fx-fill: #8b4513;
}

.chart-legend {
    -fx-background-color: #d9d9d9;
    -fx-stroke: #daa520;
}