.root {
    -fx-font-size: 10pt;
    -fx-font-family: "Futura";
    -fx-base: #e6e6ff;
    -fx-background: #b3b3ff;
}

.GameofLife-0 {
    -fx-fill: aliceblue;
}

.GameofLife-1 {
    -fx-fill: #66ff99;
}

.Percolation-0 {
    -fx-fill: black;
}

.Percolation-1 {
    -fx-fill: aliceblue;
}

.Percolation-2 {
    -fx-fill: #80ccff;
}

.Segregation-0 {
    -fx-fill: aliceblue;
}

.Segregation-1 {
    -fx-fill: #ffb3e6;
}

.Segregation-2 {
    -fx-fill: #80dfff;
}

.Fire-0 {
    -fx-fill: #66ff66;
}

.Fire-1 {
    -fx-fill: #ff4d4d;
}

.Fire-2 {
    -fx-fill: #f2f2f2;
}

.WaTor-0 {
    -fx-fill: #99ffff;
}

.WaTor-1 {
    -fx-fill: #ffc299;
}

.WaTor-2 {
    -fx-fill: #cccccc;
}

.RockPaperScissors-0 {
    -fx-fill: #808080;
}

.RockPaperScissors-1 {
    -fx-fill: #f2f2f2;
}

.RockPaperScissors-2 {
    -fx-fill: #ccb3ff;
}

.ForagingAnts-0 {
    -fx-fill: #f2f2f2;
}

.ForagingAnts-1 {
    -fx-fill: #b3ffb3;
}

.ForagingAnts-2 {
    -fx-fill: #ffcc99;
}

.ForagingAnts-3 {
    -fx-fill: #ff8080;
}

.BylsLoop-0 {
    -fx-fill: #f2f2f2;
}

.BylsLoop-1 {
    -fx-fill: #ffff4d;
}

.BylsLoop-2 {
    -fx-fill: #4d4d4d;
}

.BylsLoop-3 {
    -fx-fill: #ff99c2;
}

.BylsLoop-4 {
    -fx-fill: #99ff99;
}

.BylsLoop-5 {
    -fx-fill: #99c2ff;
}

.title {
    -fx-fill: aliceblue;
}

.button {
    -fx-border-radius: 20;
    -fx-background-radius: 15;
    -fx-padding: 8;
}