.root {
    -fx-font-size: 10pt;
    -fx-font-family: "Futura";
    -fx-base: #e6e6ff;
    -fx-background: #b3b3ff;
}

.GameofLife-0 {
    -fx-fill: aliceblue;
}

.GameofLife-1 {
    -fx-fill: mediumseagreen;
}

.Percolation-0 {
    -fx-fill: black;
}

.Percolation-1 {
    -fx-fill: aliceblue;
}

.Percolation-2 {
    -fx-fill: darkturquoise;
}

.Segregation-0 {
    -fx-fill: aliceblue;
}

.Segregation-1 {
    -fx-fill: deeppink;
}

.Segregation-2 {
    -fx-fill: dodgerblue;
}

.Fire-0 {
    -fx-fill: limegreen;
}

.Fire-1 {
    -fx-fill: firebrick;
}

.Fire-2 {
    -fx-fill: aliceblue;
}

.WaTor-0 {
    -fx-fill: blue;
}

.WaTor-1 {
    -fx-fill: darkorange;
}

.WaTor-2 {
    -fx-fill: silver;
}

.RockPaperScissors-0 {
    -fx-fill: #808080;
}

.RockPaperScissors-1 {
    -fx-fill: #f2f2f2;
}

.RockPaperScissors-2 {
    -fx-fill: #ff0066;
}

.ForagingAnts-0 {
    -fx-fill: #f2f2f2;
}

.ForagingAnts-1 {
    -fx-fill: #33cc33;
}

.ForagingAnts-2 {
    -fx-fill: #ffff66;
}

.ForagingAnts-3 {
    -fx-fill: #ff0000;
}

.BylsLoop-0 {
    -fx-fill: #f2f2f2;
}

.BylsLoop-1 {
    -fx-fill: #ffff66;
}

.BylsLoop-2 {
    -fx-fill: #000000;
}

.BylsLoop-3 {
    -fx-fill: #ff0000;
}

.BylsLoop-4 {
    -fx-fill: #33cc33;
}

.BylsLoop-5 {
    -fx-fill: #0000ff;
}

.title {
    -fx-fill: aliceblue;
}

.button {
    -fx-border-radius: 20;
    -fx-background-radius: 15;
    -fx-padding: 8;
}